%h1 Listing high_scores
%h2= link_to "Play The Game!", "/game.html"
%table
  %tr
    %th Name
    %th Score
  - @high_scores.each do |high_score|
    %tr
      %td= high_score.name
      %td= high_score.score
%br/

